* {
	box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	line-height: 150%;
	color: $mainBlack;
	overflow-x: hidden;
}

img {
	max-width: 100%;
}

button {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}

h1, h2, h3 {
	margin: 0;
}

p {
	margin: 0;
}

.h1 {
	font-size: 52px;
	line-height: 120%;
	margin-bottom: 40px;
}

.h2 {
	font-size: 36px;
	line-height: 120%;
}

.h3 {
	font-size: 24px;
	line-height: 110%;
}

.main {
	padding-top: 40px;
}

.container {
	max-width: 1240px;
	width: 100%;
	margin: 0 auto;
	padding: 0 16px;
}

.grey {
	color: #909090;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

swiper-container::part(button-next) {
	color: $white;
}
swiper-container::part(button-prev) {
	color: $white;
}

swiper-container::part(bullet) {
	background-color: $white;
	opacity: 1;
}

swiper-container::part(bullet-active) {
	width: 16px;
	background-color: $white;
	border-radius: 10px;
	transition: width 150ms linear;
}